<%= form_with model: post, html: {id: 'form-new-post'} do |f| %>
    <div class="form-group">
        <%= f.text_field :title, {class: 'form-control', placeholder: 'Tiêu đề', onkeydown: 'javascript: return enter_function(event);'} %>
    </div>
    <div class="tags-input mb-15" id="write-post-step-1">
        <div class="tags-input__inner el-input__inner form-control">
            <span id="tags-input-add-items" hidden>1</span>
            <span id="tags-input-count" hidden>1</span>
            <% if post.tags.count > 0 %>
                <% post.tags.each do |tag| %>
                <span class="el-tag el-tag--info el-tag--medium tags-input__tags mr-05 rounded">
                    <span class="mr-05"><%= tag.name %></span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x my-auto rounded-circle" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </span>
                <% end %>
            <% end %>
            <input type="text" placeholder="Gắn thẻ bài viết. Nhiều nhất 5 thẻ. Ít nhất 1 thẻ!", id="tag", onkeydown="javascript: return enter_function(event);">
        </div>
        <%= f.hidden_field :tag %>
    </div>
    <div class="form-group">
        <%= f.rich_text_area :content, {class: 'content-action-text'} %>
    </div>

    <div class="form-group">
        <% if current_page?(new_post_path) %>
            <%= f.button 'Tạo bài viết', {class: 'btn btn-primary mb-25', onclick: 'javascript: return submit_function();'} %>
        <% elsif current_page?(edit_post_path) %>
            <%= f.button 'Sửa bài viết', {class: 'btn btn-primary mb-25', onclick: 'javascript: return submit_function();'} %>
        <% end %>
    </div>
<% end %>
<script>
    var tag_value = document.getElementById('post_tag');
    var el_tag = document.getElementById('tag');
    function substring_tag(str) {
        var index = tag_value.value.indexOf(str);
        var len = str.length;
        var result = tag_value.value;
        if (index == 0) index = 1;
        tag_value.value = result.substring(0, index-1) + result.substring(index+len, result.length);
    }
    function del_element_tag(id) {
        var el_tag_del = document.getElementById(id);
        el_tag_del.remove();
        var count_tag = document.getElementById('tags-input-count');
        count_tag.innerHTML = parseInt(count_tag.innerHTML) - 1;
        var tag_del = el_tag_del.children[0].innerHTML;
        substring_tag(tag_del);
    }
    function add_element_tag() {
        var el_span_hidden = document.getElementById('tags-input-add-items');
        var count_tag = document.getElementById('tags-input-count');
        var tag = el_tag.value;
        if (tag == '') {
            alert("Bạn chưa nhập tag");
        }
        else {
            if (parseInt(count_tag.innerHTML) < 6) {
                var html = '<span class="el-tag el-tag--info el-tag--medium tags-input__tags mr-05 rounded" id="el-tag-'+ el_span_hidden.innerHTML +'">' + 
                        '<span class="mr-05">' + tag +'</span>' + 
                        '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x my-auto rounded-circle" viewBox="0 0 16 16" onclick="del_element_tag(\'el-tag-'+ el_span_hidden.innerHTML +'\')">' + 
                            '<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>' +
                        '</svg>' +
                    '</span>';
                el_span_hidden.insertAdjacentHTML("afterend", html);
                el_span_hidden.innerHTML = parseInt(el_span_hidden.innerHTML) + 1;
                count_tag.innerHTML = parseInt(count_tag.innerHTML) + 1;
                tag_value.value = tag_value.value + el_tag.value + ',';
            }
            el_tag.value = '';
        }
    }
    $('#write-post-step-1').keydown(function(e){
        if(e.keyCode === 13){
            add_element_tag();
        }  
    });
    function enter_function(evt) {
        var bool = true;
        if (evt.keyCode == 13) {
            bool = false;
        }
        return bool;
    }

    function submit_function() {
        if (tag_value.value === "") {
            alert('Bạn chưa nhập Tag!');
            return false;
        }
        else {
            document.getElementById('form-new-post').submit();
        }
    }

</script>